*, :before, :after {
	box-sizing: border-box;
/*	outline: 1px solid lime;*/
}

:nth-of-type(1) {--index: 1}
:nth-of-type(2) {--index: 2}
:nth-of-type(3) {--index: 3}
:nth-of-type(4) {--index: 4}
:nth-of-type(5) {--index: 5}
:nth-of-type(6) {--index: 6}
:nth-of-type(7) {--index: 7}
:nth-of-type(8) {--index: 8}
:nth-of-type(9) {--index: 9}
:nth-of-type(10) {--index: 10}
:nth-of-type(11) {--index: 11}
:nth-of-type(12) {--index: 12}
:nth-of-type(13) {--index: 13}
:nth-of-type(14) {--index: 14}
:nth-of-type(15) {--index: 15}
:nth-of-type(16) {--index: 16}
:nth-of-type(17) {--index: 17}
:nth-of-type(18) {--index: 18}
:nth-of-type(19) {--index: 19}
:nth-of-type(20) {--index: 20}
:nth-of-type(21) {--index: 21}
:nth-of-type(22) {--index: 22}
:nth-of-type(23) {--index: 23}
:nth-of-type(24) {--index: 24}
:nth-of-type(25) {--index: 25}
:nth-of-type(26) {--index: 26}
:nth-of-type(27) {--index: 27}
:nth-of-type(28) {--index: 28}
:nth-of-type(29) {--index: 29}
:nth-of-type(30) {--index: 30}
:nth-of-type(31) {--index: 31}
:nth-of-type(32) {--index: 32}

body {
	min-height: 100svh;
	display: grid;
	place-items: center;
	perspective: 100em;
	transform-style: preserve-3d;
	pointer-events: none;
	margin: 0;
	background-image: radial-gradient(ellipse at center, #eff, #9bf);
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	text-align: left;
}

h1 {
	margin: 1rem;
	font-size: clamp(2rem, 8vw, 6rem);
	font-family: Verdana, Arial, sans-serif;
	filter: drop-shadow(.1rem .1rem #222) drop-shadow(-.1rem -.1rem #666);
}

@media (width > 920px) {
	header {
		writing-mode: vertical-rl;
		top: 0;
		right: 0;
		left: unset;
		bottom: 0;
	}
}

header h1 {
	-webkit-background-clip: text;
	color: transparent;
	background-image: 
		linear-gradient(-45deg, #fff0 60%, #ffff 60%, #ffff 70%, #fff0 70%),
		radial-gradient(at 30% 30%, #ffff, #0000 100%),
		repeating-linear-gradient(-20deg, #888 0px, #ddd 1px, #fff 1px, #ddd 2px);
	filter: glow(1.1);
}

/* the whole mixer */
main {
	background-color: black;
	background-image: linear-gradient(to bottom right, #444, #222);
	padding: 2rem;
	display: grid;
	gap: 2rem;
	transform: translateZ(10em) rotateX(30deg);
	position: relative;
	transform-style: preserve-3d;
	grid-template-columns: max-content;
	max-width: 80vw;
}

@media (width > 750px) {
	main {
		grid-template-columns: repeat(2, max-content);
	}
}

main:after {
	content: '';
	width: 100%;
	height: 8rem;
	position: absolute;
	bottom: -8rem;
	background-color: #222;
	transform-origin: top center;
	transform: rotateX(-90deg);
}

h2 {
	font-family: Verdana, Arial, sans-serif;
	color: #dde;
	font-size: 1em;
	font-weight: 400;
	grid-column: 1/-1;
	margin: 0 0 .5em 0;
	text-shadow: .1rem .1rem 0 black;
}

section {
	display: grid;
}

/* screen */
section:first-of-type {
	--aspect-ratio: 16 / 9;
	aspect-ratio: var(--aspect-ratio);
	width: calc(80vw - 4rem);
	max-width: 24rem;
	background: #111;
	container-name: screen;
	container-type: size;
	border-top: 3px solid black;
	border-left: 3px solid black;
	position: relative;
	display: block;
}

section:first-of-type:before {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: radial-gradient(ellipse at 30% 30%, #fff3, #fff0);
	position: absolute;
	top: 0;
	left: 0;
}

section:first-of-type h2 {
	height: 0;
	opacity: 0;
	margin: 0;
}

/* graphic */
section:first-of-type div:first-of-type {
	--speed: calc(5s * var(--aspect-ratio));
	transform: translateY(calc(50cqh - 50%));
	transition: transform 9000000s linear;

	& div {
		--speed: 5s;
		aspect-ratio: 1;
/*		background: red;*/
		width: 13cqw;
		font-size: 13cqw;
		line-height: 1;

		transform: translateX(calc(50cqw - 50%));
	}
}

/*Animations for moving a graphic*/
/*@keyframes move-graphic-x {
	0% {
		transform: translateX(calc(0cqw - 0%));
	}

	100% {
		transform: translateX(calc(100cqw - 100%));
	}
}*/

/*@keyframes move-graphic-y {
	0% {
		transform: translateY(calc(0cqh - 0%));
	}

	100% {
		transform: translateY(calc(100cqh - 100%));
	}
}*/

section:nth-of-type(2) {
	transform-style: preserve-3d;
}

/* the joystick */
section:nth-of-type(2) div:nth-of-type(1) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	aspect-ratio: 1;
	width: 8rem;
	background-color: #fff5;
	background-image: 
		radial-gradient(ellipse at 50% 50%, #000f 14%, #0000 19.5%, #666f 20%, #0000 21.5%),
		radial-gradient(ellipse at 70% 70%, #999, #000 80%)
	;
	border-radius: 100%;
	user-select: none;
	box-shadow: inset 1px 1px 1px #000;
	transform-style: preserve-3d;
	border: 3px solid #333;
	pointer-events: all;

	& button {
		border: none;
		background: none;
		pointer-events: all;
	}

	& div {
		background: #333;
		background-image: radial-gradient(ellipse at 30% 30%, #ccc, #333 80%);
		outline: 1px solid #555;
		border-radius: 100%;
		transition: .2s;
		pointer-events: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		width: 100%;
		cursor: pointer;
		box-shadow: 1px 1px 1px #000, 3px 3px 3px #000, 5px 5px 5px #000;
		border: none;
		transform: translateZ(-.5em) translateZ(2.5em);
		scale: 1.3;
		transform-style: preserve-3d;
	}

	& ul {
		--radius: .5rem;
		--length: 2.5rem;
		--faces: 32;
		--face-width: calc(2 * var(--radius) * sin(360deg / var(--faces) / 2) + 1px);
		--face-distance: calc(var(--radius) * cos(360deg / var(--faces) / 2));
		  
		--h: 40deg;
		--s: 0%;
		--l: 20%;
		  
		--opacity: 1;
		  
		display: grid;
		align-items: center;
		justify-items: center;
		transform-style: preserve-3d;

		list-style: none;
		grid-area: 1/1;
		padding: 0;
		margin: 0;
		transform: translateZ(calc(-.5 * var(--length))) rotateX(-90deg) rotateY(-45deg);
	}

	& li {
		width: var(--face-width);
		height: var(--length);
		
		grid-area: 1/1;
		/*   outline: 1px solid black; */
		outline-offset: -1px;
		opacity: var(--opacity);

		transform: rotateY(calc(360deg / var(--faces) * var(--index))) translateZ(var(--face-distance));
		background-color: #333;
  		background-image: 
  			linear-gradient(
  				to bottom,
  				#0000 90%,
  				#000f
  			),
  			linear-gradient(
	  			to right, 
	  			hsl(
	  				var(--h), 
	  				var(--s), 
	  				calc(var(--l) * (((abs((var(--index) - 1) - .5 * var(--faces)) / var(--faces) - .5)) + 1))
	  			), 
	  			hsl(
	  				var(--h), 
	  				var(--s), 
	  				calc(var(--l) * (((abs((var(--index) + 0) - .5 * var(--faces)) / var(--faces) - .5)) + 1))
	  			)

  			)
  		;

	}
}

/*Top left button*/
body:has(section:nth-of-type(2) div:nth-of-type(1):active):has(section:nth-of-type(2) div:nth-of-type(1) button:nth-child(1):hover) {

	/*Y direction animation*/
	& section:nth-of-type(1) > div:first-of-type {
		transform: translateY(calc(0cqh - 0%));
		transition: transform var(--speed) linear;

		/*X direction animation*/
		& div {
			transform: translateX(calc(0cqw - 0%));
			transition: transform var(--speed) linear;
		}
	}

	/*Joystick direction*/
	& section:nth-of-type(2) div:nth-of-type(1) div {
		transform: translateZ(-.5em) rotateX(31.5deg) rotateY(-31.5deg) translateZ(2.5em);
	}
}

/*Top center button*/
body:has(section:nth-of-type(2) div:nth-of-type(1):active):has(section:nth-of-type(2) div:nth-of-type(1) button:nth-child(2):hover) {

	/*Y direction animation*/
	& section:nth-of-type(1) > div:first-of-type {
		transform: translateY(calc(0cqh - 0%));
		transition: transform var(--speed) linear;

		/*X direction animation*/
		& div {

		}
	}

	/*Joystick direction*/
	& section:nth-of-type(2) div:nth-of-type(1) div {
		transform: translateZ(-.5em) rotateX(45deg) translateZ(2.5em);
	}
}

/*Top right button*/
body:has(section:nth-of-type(2) div:nth-of-type(1):active):has(section:nth-of-type(2) div:nth-of-type(1) button:nth-child(3):hover) {

	/*Y direction animation*/
	& section:nth-of-type(1) > div:first-of-type {
		transform: translateY(calc(0cqh - 0%));
		transition: transform var(--speed) linear;

		/*X direction animation*/
		& div {
			transform: translateX(calc(100cqw - 100%));
			transition: transform var(--speed) linear;
		}
	}

	/*Joystick direction*/
	& section:nth-of-type(2) div:nth-of-type(1) div {
		transform: translateZ(-.5em) rotateX(31.5deg) rotateY(31.5deg) translateZ(2.5em);
	}
}

/*Center left button*/
body:has(section:nth-of-type(2) div:nth-of-type(1):active):has(section:nth-of-type(2) div:nth-of-type(1) button:nth-child(4):hover) {

	/*Y direction animation*/
	& section:nth-of-type(1) > div:first-of-type {

		/*X direction animation*/
		& div {
			transform: translateX(calc(0cqw - 0%));
			transition: transform var(--speed) linear;
		}
	}

	/*Joystick direction*/
	& section:nth-of-type(2) div:nth-of-type(1) div {
		transform: translateZ(-.5em) rotateY(-45deg) translateZ(2.5em);
	}
}

/*Center right buttton*/
body:has(section:nth-of-type(2) div:nth-of-type(1):active):has(section:nth-of-type(2) div:nth-of-type(1) button:nth-child(6):hover) {

	/*Y direction animation*/
	& section:nth-of-type(1) > div:first-of-type {

		/*X direction animation*/
		& div {
			transform: translateX(calc(100cqw - 100%));
			transition: transform var(--speed) linear;
		}
	}

	/*Joystick direction*/
	& section:nth-of-type(2) div:nth-of-type(1) div {
		transform: translateZ(-.5em) rotateY(45deg)  translateZ(2.5em);
	}
}

/*Bottom left buttton*/
body:has(section:nth-of-type(2) div:nth-of-type(1):active):has(section:nth-of-type(2) div:nth-of-type(1) button:nth-child(7):hover) {

	/*Y direction animation*/
	& section:nth-of-type(1) > div:first-of-type {
		transform: translateY(calc(100cqh - 100%));
		transition: transform var(--speed) linear;

		/*X direction animation*/
		& div {
			transform: translateX(calc(0cqw - 0%));
			transition: transform var(--speed) linear;
		}
	}

	/*Joystick direction*/
	& section:nth-of-type(2) div:nth-of-type(1) div {
		transform: translateZ(-.5em) rotateY(-31.5deg) rotateX(-31.5deg) translateZ(2.5em);
	}
}

/*Bottom center button*/
body:has(section:nth-of-type(2) div:nth-of-type(1):active):has(section:nth-of-type(2) div:nth-of-type(1) button:nth-child(8):hover) {

	/*Y direction animation*/
	& section:nth-of-type(1) > div:first-of-type {
		transform: translateY(calc(100cqh - 100%));
		transition: transform var(--speed) linear;

		/*X direction animation*/
		& div {

		}
	}

	/*Joystick direction*/
	& section:nth-of-type(2) div:nth-of-type(1) div {
		transform: translateZ(-.5em) rotateX(-45deg)  translateZ(2.5em);
	}
}

/*Bottom right button*/
body:has(section:nth-of-type(2) div:nth-of-type(1):active):has(section:nth-of-type(2) div:nth-of-type(1) button:nth-child(9):hover) {

	/*Y direction animation*/
	& section:nth-of-type(1) > div:first-of-type {
		transform: translateY(calc(100cqh - 100%));
		transition: transform var(--speed) linear;

		/*X direction animation*/
		& div {
			transform: translateX(calc(100cqw - 100%));
			transition: transform var(--speed) linear;
		}
	}

	/*Joystick direction*/
	& section:nth-of-type(2) div:nth-of-type(1) div {
		transform: translateZ(-.5em) rotateX(-31.5deg) rotateY(31.5deg) translateZ(2.5em);
	}
}